<div class="panel" [ngClass]="{'expanded': isExpanded}" (click)="togglePanel()">
    <!-- <div class="panel-header">
        <h2>{{ title }}</h2>
        <span>{{ isExpanded ? 'Collapse' : 'Expand' }}</span>
    </div> -->

    <ng-container
        *ngTemplateOutlet="headerTemplate || defaultHeaderTemplate; context:{$implicit: headerContent , isExpanded: isExpanded}"></ng-container>

    <ng-container class="panel-body" *ngIf="isExpanded">
        <!-- <ng-container bodyOutlet></ng-container> -->
        <ng-container
            *ngTemplateOutlet="bodyTemplate || defaultPanelTemplate; context:{$implicit: bodyConent}"></ng-container>
    </ng-container>
</div>


<ng-template #defaultHeaderTemplate let-isExpanded="isExpanded" let-headerConent>
    <ng-container *ngTemplateOutlet="headerConent"></ng-container>
    <!-- <ng-content select="[header]"></ng-content> -->
    <span>{{ isExpanded ? 'Collapse' : 'Expand' }}</span>
</ng-template>

<ng-template bodyTemplateDef #defaultPanelTemplate let-bodyConent>
    <!-- <ng-content [select]="body"></ng-content> -->

    <ng-container *ngTemplateOutlet="bodyConent"></ng-container>

    <!-- <ng-container >{{bodyView}}</ng-container> -->

    <!-- <ng-content select="[body]"></ng-content> -->
</ng-template>

<!-- <ng-template #defaultHeaderTemplate>
    <ng-content select="[header]"></ng-content>
</ng-template> -->