<div class="tw-flex tw-flex-col tw-h-screen tw-items-center tw-justify-center">


    <div
        class="backdrop tw-flex tw-flex-row xs max-sm:tw-flex-col max-sm:tw-items-center tw-gap-8  tw-px-8 tw-py-8 tw-rounded-2xl ">

        <div class="tw-flex tw-flex-col tw-gap-8">


            <app-custom-expansion-panel>
                <h4 *header class="tw-text-sm tw-font-medium">This is Header Header</h4>
                <div *body class=" tw-flex tw-flex-row tw-gap-4">
                    <img class="tw-object-cover tw-aspect-square tw-h-12 tw-rounded-md"
                        src="https://picsum.photos/500" />

                    <p class="tw-text-sm tw-text-stone-700">Occaecat aute, but quam, for doloremque, and sequi minim. Nequeporro lorem doloremque officia.
                        Occaecat. </p>
                </div>
            </app-custom-expansion-panel>


            <app-custom-expansion-panel>

                <h4 *header class="tw-text-sm tw-font-medium">This is Header Header</h4>
                <div *body class=" tw-flex tw-flex-row tw-gap-4">
                    <img class="tw-object-cover tw-aspect-square tw-h-12 tw-rounded-md"
                        src="https://picsum.photos/500" />

                    <p class="tw-text-sm tw-text-stone-700">Occaecat aute, but quam, for doloremque, and sequi minim. Nequeporro lorem doloremque officia.
                        Occaecat. </p>
                </div>


                <!-- custom -->
                <ng-container *headerTemplateDef="let headerContent; let expanded=isExpanded">
                    <!-- <div>
                        <ng-container *ngTemplateOutlet="headerContent"></ng-container>

                    </div> -->

                    <div class=" tw-flex tw-flex-row tw-bg-slate-50 tw-rounded-md tw-p-4">
                        <div class="tw-flex tw-flex-auto">
                            <ng-container *ngTemplateOutlet="headerContent"></ng-container>
                
                        </div>
                        <!-- <ng-content select="[header]"></ng-content> -->
                        <span class="material-icons">{{ expanded ? 'expand_less' : 'expand_more' }}</span>
                
                        <!-- <span>{{ isExpanded ? 'Collapse' : 'Expand' }}</span> -->
                    </div>
                </ng-container>

                <ng-container *bodyTemplateDef="let bodyConent">
                    <!-- <ng-content [select]="body"></ng-content> -->
                    <div class="tw-bg-white tw-border-blue-600 tw-border-2 tw-rounded-md tw-p-4 tw-shadow-xl">
                
                        <ng-container *ngTemplateOutlet="bodyConent"></ng-container>
                    </div>
                
                    <!-- <ng-container >{{bodyView}}</ng-container> -->
                
                    <!-- <ng-content select="[body]"></ng-content> -->
                </ng-container>
            </app-custom-expansion-panel>

        </div>


    </div>
</div>

<!-- <ng-template #customHeaderTemplate let-isExpanded="isExpanded" let-headerConent>
    <ng-container *ngTemplateOutlet="headerConent"></ng-container>
   <span>{{ isExpanded ? 'Collapse' : 'Expand' }}</span>
</ng-template> -->

<!-- <ng-template bodyTemplateDef #defaultPanelTemplate let-bodyConent>
   <ng-container *ngTemplateOutlet="bodyConent"></ng-container>
</ng-template> -->